body {
    background-image: url(img/bg.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.title {
    font-size: 35px;
    color: white;
    display: flex;
    justify-content: center;

}

.message {
    display: flex;
    justify-content: center;
    align-items: center;

}